.content {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.spacer {
  flex: 1 1 auto;
}

.top-header {
  background-image: linear-gradient(to right, #E60000, #F48C00);
  color: white;
}

.icon-header {
  background-color: white;
  border-bottom: 1px solid #D1D1D1;
}

.chat-box {
  display: flex;
  bottom: 0;
  right: 0;
  left: 0;
  border-top: 1px solid #D1D1D1;
  padding: 5px;
  color: #A6A6A6;
  font-size: 17px;
}

.message-box {
  width: 100%;
  margin: 0 3px;
}

.message-intro {
  background-color: white;
  padding: 20px;
  color: #747474;
  font-size: 18px;
}

.button-container {
  padding: 20px;
}

.intro-button {
  margin: 5px;
  font-weight: bold;
}

.mat-button, .mat-raised-button {
  margin: 3px;
  font-weight: bold;
}

.mat-button, .mat-raised-button#cancel {
  color: #5D5D5D;
  background-color: #E8E8E8;
  border-radius: 5px 0 0 5px;
}

.mat-button, .mat-raised-button#start {
  color: white;
  background-image: linear-gradient(to right, #E60000, #F48C00);
  border-radius: 0 5px 5px 0;
}

.chat-messages {
  overflow: auto;
  height: 64%;
  background-color: #EAEAEA;
}

.chat-message {
  margin: 10px;
}

.chat-message .author {
  font-size: 14px;
  font-weight: bold;
  color: #FF4A04;
}

.chat-message__content {
  font-size: 18px;
  color: #3A3A3A;
  word-break: break-all;
}

.chat-message .date {
  font-size: 8px;
}

.button-column {
  margin: auto;
  display: flex;
}

.send-button {
  background-color: white;
  border-color: red;
  color: red;
}

.outro {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 40px;
}

.outro-container {
  display: block;

}

.outro-title {
  font-weight: bolder;
  font-size: 34px;
  color: #FF4A04;
}

.outro-message {
  font-size: 12px;
  color: #8B8B8B;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background: #D1D1D1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #8B8B8B;
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #EC3C00;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-accent .mat-pseudo-checkbox-checked, .mat-accent .mat-pseudo-checkbox-indeterminate, .mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-indeterminate {
  background-color: #F48C00 !important;
}
